<!-- Floating WhatsApp -->
<a href="https://wa.me/6281277774005?text=Halo%20Makara%2C%20saya%20ingin%20bertanya%20mengenai%20penyewaan%20bus."
    class="floating-whatsapp" target="_blank">
    <i class="bi bi-whatsapp"></i>
</a>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <!-- <h5 class="text-white mb-3">TRAVEL<span style="color:var(--primary-color);">CORP</span></h5> -->
                <img src="image/makara.png" alt="Logo" class="img-fluid">
                <p class="small text-white mb-0 mt-2">Partner perjalanan terpercaya Anda. Melayani dengan hati,
                    mengantar
                    dengan selamat sampai tujuan.</p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">Tentang Kami</a></li>
                    <li><a href="armada.html">Armada</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Hubungi Kami</h5>
                <ul class="list-unstyled text-white small">
                    <li class="mb-2"><i class="bi bi-geo-alt me-2"></i> Cikundul, Lembursitu, Sukabumi Regency, West Java 43168</li>
                    <li class="mb-2"><i class="bi bi-telephone me-2"></i> +62 812-7777-4005</li>
                    <li class="mb-2"><i class="bi bi-envelope me-2"></i> info@makarabus.com</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Social Media</h5>
                <div class="d-flex gap-3 text-end">
                    <a href="https://www.instagram.com/makara.bus/?hl=en" target="_blank" class="fs-4"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.tiktok.com/@makara.bus" target="_blank" class= "fs-4"><i class="bi bi-tiktok"></i></a>
                    <a href="https://www.facebook.com/groups/393717894078154/" target="_blank" class= "fs-4"><i class="bi bi-facebook"></i></a>
                </div>
            </div>
        </div>
        <hr class="opacity-10" />
        <div class="row align-items-center small text-center text-md-start">
            <div class="col-md-6 mb-3 mb-md-0 opacity-50 ">
                © 2026 PT.Akselerasi Gerakara Mulya. Seluruh hak cipta dilindungi.
            </div>
            <div class="col-md-6 mb-3 text-md-end opacity-50">
                <a class="text-reset text-decoration-none me-4" href="#">Kebijakan Privasi</a>
                <a class="text-reset text-decoration-none" href="#">Syarat &amp; Ketentuan</a>
            </div>
        </div>
    </div>
</footer>